<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="initial-scale=0.3333333333333333, maximum-scale=0.3333333333333333, minimum-scale=0.3333333333333333, user-scalable=no">
    <title>taobao</title>
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/libs/swiper/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
    <div class="header-wrap">
        <div class="header-search">
            <i class="fa fa-search"></i>
            <span>寻找宝贝店铺</span>
        </div>
    </div>
</header>
<div class="scroll-wrap">
    <div class="carousel">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="img/carousel-1.jpg" alt="1">
                </div>
                <div class="swiper-slide">
                    <img src="img/carousel-2.jpg" alt="2">
                </div>
                <div class="swiper-slide">
                    <img src="img/carousel-3.jpg" alt="3">
                </div>
                <div class="swiper-slide">
                    <img src="img/carousel-4.jpg" alt="4">
                </div>
                <div class="swiper-slide">
                    <img src="img/carousel-5.jpg" alt="5">
                </div>
                <div class="swiper-slide">
                    <img src="img/carousel-6.jpg" alt="6">
                </div>
                <div class="swiper-slide">
                    <img src="img/carousel-7.jpg" alt="7">
                </div>

            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination" id="carousel-dot"></div>
        </div>
    </div>
    <div class="menu clearfix">
        <a href="javascript:;" class="tmall">
            <span></span>
            <p>天猫</p>
        </a>
        <a href="javascript:;" class="ju">
            <span></span>
            <p>聚划算</p>
        </a>
        <a href="javascript:;" class="daojia">
            <span></span>
            <p>到家</p>
        </a>
        <a href="javascript:;" class="waimai">
            <span></span>
            <p>外卖</p>
        </a>
        <a href="javascript:;" class="chongzhi">
            <span></span>
            <p>充值</p>
        </a>
        <a href="javascript:;" class="lvxing">
            <span></span>
            <p>阿里旅行</p>
        </a>
        <a href="javascript:;" class="tao">
            <span></span>
            <p>领金币</p>
        </a>
        <a href="javascript:;" class="cate">
            <span></span>
            <p>分类</p>
        </a>
    </div>
    <div class="top-news">
        <span class="bg-logo"></span>
        <span class="tag">最新</span>
        <div class="topNews-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide clearfix">
                    <span class="txt">你的条纹我来掌控</span>
                </div>
                <div class="swiper-slide clearfix">
                    <span class="txt">无人机你见过、无人车你也见过，无人船你见过？</span>
                </div>
            </div>
        </div>
    </div>
    <div class="rushbuy">
        <div class="r-left">
            <ul class="countdown">
                <li> <span class="hours">12</span>
                </li>
                <li class="seperator">:</li>
                <li> <span class="minutes">23</span>
                </li>
                <li class="seperator">:</li>
                <li> <span class="seconds">55</span>
                </li>
            </ul>
        </div>
        <div class="r-right">
            <div class="r-wrap">
                <div class="r-top">
                    <div class="r-top-l"></div>
                    <div class="r-top-r"></div>
                </div>
                <div class="r-bottom">
                    <div class="r-bottom-l"></div>
                    <div class="r-bottom-r"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="tcheap">
        <div class="t-title">
            <div class="line-l"></div>
            <div class="center">
                <i></i>
                <span>超实惠</span>
            </div>
            <div class="line-r"></div>
        </div>
        <div class="horizon-view tcheap1">
            <div class="h-1"></div>
            <div class="h-2"></div>
            <div class="h-3"></div>
            <div class="h-4"></div>
        </div>
        <div class="horizon-view tcheap2">
            <div class="h-1"></div>
            <div class="h-2"></div>
            <div class="h-3"></div>
            <div class="h-4"></div>
        </div>
    </div>
    <div class="tquality">
        <div class="t-title">
            <div class="line-l"></div>
            <div class="center">
                <i></i>
                <span>好品质</span>
            </div>
            <div class="line-r"></div>
        </div>
        <div class="horizon-64">
            <div class="left-6"></div>
            <div class="right-4"></div>
        </div>
        <div class="horizon-1">
            <div class="item item1"></div>
            <div class="item item2"></div>
            <div class="item item3"></div>
            <div class="item item4"></div>
            <div class="item item5"></div>
        </div>
    </div>
    <div class="tspecial">
        <div class="t-title">
            <div class="line-l"></div>
            <div class="center">
                <i></i>
                <span>有特色</span>
            </div>
            <div class="line-r"></div>
        </div>
        <div class="horizon-view tspecial1">
            <div class="h-1"></div>
            <div class="h-2"></div>
            <div class="h-3"></div>
            <div class="h-4"></div>
        </div>
        <div class="horizon-view tspecial2">
            <div class="h-1"></div>
            <div class="h-2"></div>
            <div class="h-3"></div>
            <div class="h-4"></div>
        </div>
        <div class="sjb"></div>
    </div>
    <div class="tmarket">
        <div class="t-title">
            <div class="line-l"></div>
            <div class="center">
                <i></i>
                <span>热门市场</span>
            </div>
            <div class="right">
                <div class="r-wrap">
                    <div class="line-r-m"></div>
                    <div class="more">更多</div>
                </div>
            </div>
        </div>
        <div class="horizon-55">
            <div class="left">
                <p class="p1">品质穿搭</p>
                <p class="p2">质造品味</p>
                <div class="img"></div>
            </div>
            <div class="right">
                <p class="p1">强调</p>
                <p class="p2">潮流尖货</p>
                <div class="img"></div>
            </div>
        </div>
        <ul class="list clearfix">
            <li>
                <p class="p1">体育课</p>
                <p class="p2">体育必备</p>
                <div></div>
            </li>
            <li>
                <p class="p1">摩登潮童</p>
                <p class="p2">时尚穿搭</p>
                <div></div>
            </li>
            <li>
                <p class="p1">宿舍时代</p>
                <p class="p2">宿舍用品</p>
                <div></div>
            </li>
            <li>
                <p class="p1">彩妆教室</p>
                <p class="p2">彩妆精选</p>
                <div></div>
            </li>
            <li>
                <p class="p1">型男社</p>
                <p class="p2">Man有调性</p>
                <div></div>
            </li>
            <li>
                <p class="p1">潮生活</p>
                <p class="p2">科技潮品</p>
                <div></div>
            </li>
            <li>
                <p class="p1">表饰爱</p>
                <p class="p2">大胆饰爱</p>
                <div></div>
            </li>
            <li>
                <p class="p1">干货食材</p>
                <p class="p2">巧妇最爱逛</p>
                <div></div>
            </li>
        </ul>
        <div class="sjb"></div>
    </div>
    <div class="like">
        <div class="t-title">
            <div class="line-l"></div>
            <div class="center">
                <span>猜你喜欢</span>
            </div>
            <div class="line-r"></div>
        </div>
        <div class="recommend">
            <ul class="list clearfix">
                <li>
                    <div class="img"></div>
                    <p class="des">
                        [为你推荐]现货美式布艺床亚麻法式软包床简约小户型时尚双人床1.8软床婚床
                    </p>
                    <p class="price">￥2.50.0</p>
                </li>
                <li>
                    <div class="img"></div>
                    <p class="des">
                        [为你推荐]现货美式布艺床亚麻法式软包床简约小户型时尚双人床1.8软床婚床
                    </p>
                    <p class="price">￥2.50.0</p>
                </li>
                <li>
                    <div class="img"></div>
                    <p class="des">
                        [为你推荐]现货美式布艺床亚麻法式软包床简约小户型时尚双人床1.8软床婚床
                    </p>
                    <p class="price">￥2.50.0</p>
                </li>
                <li>
                    <div class="img"></div>
                    <p class="des">
                        [为你推荐]现货美式布艺床亚麻法式软包床简约小户型时尚双人床1.8软床婚床
                    </p>
                    <p class="price">￥2.50.0</p>
                </li>
                <li>
                    <div class="img"></div>
                    <p class="des">
                        [为你推荐]现货美式布艺床亚麻法式软包床简约小户型时尚双人床1.8软床婚床
                    </p>
                    <p class="price">￥2.50.0</p>
                </li>
                <li>
                    <div class="img"></div>
                    <p class="des">
                        [为你推荐]现货美式布艺床亚麻法式软包床简约小户型时尚双人床1.8软床婚床
                    </p>
                    <p class="price">￥2.50.0</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="pagebottom">
        <div class="buttons">
            <a href="javascript:;">登录</a>
            <a href="javascript:;">注册</a>
            <a href="javascript:;">电脑版</a>
            <a href="javascript:;">用户反馈</a>
        </div>
        <div class="copyright">
            2016 浙 B2-20080224
            <a href="javascript:;">服务中心</a>
        </div>
    </div>
</div>
<div class="backTop">
    <i class="fa fa-arrow-up"></i>顶部
</div>
<footer>
    <a href="javascript:;">
        <i class="fa fa-home f-icon"></i>
        <P>首页</P>
    </a>
    <a href="javascript:;">
        <i class="fa fa-truck f-icon"></i>
        <P>物流</P>
    </a>
    <a href="javascript:;">
        <i class="fa fa-shopping-cart f-icon"></i>
        <P>购物车</P>
    </a>
    <a href="javascript:;">
        <i class="fa fa-user f-icon"></i>
        <P>我的淘宝</P>
    </a>
    <a href="javascript:;">
        <i class="fa fa-ellipsis-h f-icon"></i>
        <P>更多</P>
    </a>
</footer>
<script src="/libs/jQuery-3.0/jquery-3.0.0.js"></script>
<script src="/libs/swiper/swiper-3.3.1.jquery.min.js"></script>
<script src="/libs/jquery.downCount.js"></script>
<script src="/js/main.js"></script>
</body>
</html>